body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; height: 100vh;}

#legend {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background: rgba(255,255,255,0.9);
  padding: 10px 14px;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0,0,0,0.25);
}
.color-box {
  display: inline-block;
  width: 12px; height: 12px;
  margin-right: 4px;
}
.low { background:#2DC4B2; }
.med { background:#F1F075; }
.high { background:#F28CB1; }
